.closeDash {
  transition: 0.5s;
  transform: translate(-40vw);
}
.openDash {
  transition: 0.5s;
  transform: translate(0vw);
}

.chat-isi-animation{
  transition: all 0.5s;
  transform: translateY(10vh);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
